{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>{% block h1 %}Список парфюмерии{% endblock %}</h1>
    </header>

    <aside>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировка ({{ sort_by }})
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="?sort_by=mark">По оценке</a></li>
                <li><a class="dropdown-item" href="?sort_by=price_asc">По возрастанию цены</a></li>
                <li><a class="dropdown-item" href="?sort_by=price_desc">По убыванию цены</a></li>
            </ul>
        </div>

        {% include 'perfume/type_select.html' %}

        {% include 'perfume/aroma_select.html' %}

    </aside>

    <div class="row">
        {% for perfume in perfumes %}
            {% include 'perfume/perfume_card.html' with perfume=perfume %}
        {% endfor %}
    </div>

    {% include 'includes/pagination.html' with page=page %}
{% endblock %}