{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>{% block h1 %}Список парфюмерии{% endblock %}</h1>
    </header>

    <aside>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировка ({{ sort_by }})
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="?sort_by=popularity">По популярности</a></li>
                <li><a class="dropdown-item" href="?sort_by=price_asc">По возрастанию цены</a></li>
                <li><a class="dropdown-item" href="?sort_by=price_desc">По убыванию цены</a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Тип ({{ type }})
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for type in types %}
                    <li><a class="dropdown-item" href="?type={{ type }}">{{ type }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Аромат ({{ aroma }})
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for aroma in aromas %}
                    <li><a class="dropdown-item" href="?aroma={{ aroma }}">{{ aroma }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </aside>

    <div class="row">
        {% for perfume in perfumes %}
            {% include 'perfume_card.html' with perfume=perfume %}
        {% endfor %}
    </div>

    {% include 'includes/pagination.html' with page=page %}
{% endblock %}